.paystack_payment_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #08A4DA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 14px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.paystack_payment_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.paystack_payment_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.paystack_payment_button:hover {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19);
}

.paystack_payment_button:hover span {
  padding-right: 25px;
}

.paystack_payment_button:hover span:after {
  opacity: 1;
  right: 0;
}